.categoriesOfPlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}

.categoriesOfPlaces li {
  flex: 1 1 30%; /* Adjust width as per your design */
  margin: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(65, 65, 65, 0.308);
  padding-top: 30px;
}

.categoriesOfPlaces h1 {
  padding-top: 60px;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.categoriesOfPlaces ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

